<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @computer.hostname %>
</p>

<p>
  <strong>Status:</strong>
  <%= @computer.status %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
